

<%- include("./header.ejs") %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="container">
  <div class="row">
    <% for(var i = 0; i < list_table.length; i++) {%>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= list_table[i].title%></text></svg>
        <div class="card-body">
          <p class="card-text"><%= list_table[i].ititle%></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a type="button" href="dtl/<%=list_table[i].id %>" class="btn btn-sm btn-outline-secondary">View</a>
              <a type="button" href="dtl/<%=list_table[i].item_id %>" class="btn btn-sm btn-outline-secondary">Read</a>
            </div>
            <small class="text-muted"><%=list_table[i].finish?"finish":"live" %></small>
          </div>
        </div>
      </div>
    </div>
      <% } %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<%- include("./footer.ejs") %>

